body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dfd8ca;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rec_div {
  display: flex;
  width: 50%;
  text-align: left;
  vertical-align: 0%;
  justify-content: left;
  margin: 3px auto;
  box-shadow: 1px 2px 5px #630000;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  /* padding-top: -5%; */
}

.all_recs {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* padding: auto; */
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
  justify-content: left;
}

.smallimg {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  margin: 2px;
  margin-right: 10px;
}

.slct {
  width: 50%;
  margin: 5px auto;
  padding:10px;
  background-color: #630000;
  color: #dfd8ca;
}
